h1{
    color:greenyellow;
    text-shadow: slategray;
    box-sizing:2px;
    font-family: 'Bangers', cursive;

}
h2{
   color:green; 
}
h{
 color:blue;
}
p{
    border:3px;
    color:blueviolet;
    border-width:1px;
    font-family: 'Bangers', cursive;
font-family: 'Kaushan Script', cursive;
}
body{
    background-color:pink;
    font-size: xx-large;
}